configuration {
	modi: "drun,filebrowser,run,window";
	display-drun: " ";
	display-filebrowser: " ";
	display-run: " ";
	display-window: " ";
	drun-display-format: "{name}";
	show-icons: false;



}

@theme "~/.config/rofi/themes/float/glass.rasi"
